<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block login_css %}{% endblock login_css %}
    {% block logout_css %}{% endblock logout_css %}

    {% block signup_css %}{% endblock signup_css %}
    
    {% block for_home_css %} {% endblock for_home_css %}
    {% block for_search_css %} {% endblock for_search_css %}



    
    {% block for_enter_infor_css %} {% endblock for_enter_infor_css %}




    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
  </head>
  <body>

    
    









    <!----------------------------NaveBar---------------------->

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Bus Status</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                 
                </ul>
                {% if user.is_authenticated %}

                
              <h5 class="my-2"style="background-color:white">You are Logged in as {{name}} of Id:{{request.user}}<h5>
                <a  href="accounts/logout_user" role="button"  class="m-2 btn  btn-light  btn-outline-success my-2 my-sm-0 rounded" >Logout</a>
                {% else %}
                <a href="admin/" role="button"  class="btn  btn-light  btn-outline-success my-2 my-sm-0 rounded" >Admin</a>
              <a href="accounts/login" role="button" class="btn  btn-light border-success border-5  btn-outline-success m-1 my-sm-2 rounded" >Login</a>
                <a href="accounts/signup" role="button"  class="btn  btn-light  btn-outline-success my-2 my-sm-0 rounded" >Signup</a>
              
                {% endif %}
              </div>
            </div>
          </nav>
   

          {% block body %}
          
          {% endblock body %}


</body>
</html>





